.headshot {
    max-width: 20%;
    margin : 0 1% 0 0;
    padding-right: 0 1% 0 0
}

p {
    padding: 0 1% 0 1%
}

h3 {
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    color: #4aaaa5
}